<div>

  <h1><%= @patient.name %></h1>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
    <li role="presentation"><a href="#notifiers" aria-controls="notifiers" role="tab" data-toggle="tab">Notifiers</a></li>
    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
      <%= render 'details' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="notifiers">
      <%= render 'notifiers' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="history">
      <%= render 'history' %>
    </div>
  </div>

</div>

<script>
  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    if (hash == '#history') renderSpO2Data();

    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop();
      window.location.hash = this.hash;
      if (this.hash == '#history') renderSpO2Data();
      $('html,body').scrollTop(scrollmem);
    });
  });
</script>