/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require font-awesome
 *= require parsley
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "base";

.well, .btn, .form-control{
  border-radius: 0 !important;
}

.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
}

.avatar {
  background-image: url(/avatar.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  margin: 30px auto 10px;
  width: 100px;
  height: 100px;
}

.sign-in {
  margin-top: 60px;
  text-align: center;
}

.sign-in-options {
  margin: 20px 0;
  text-align: center;
}

li.form-error {
  color: darkred;
  list-style-type: none;
}
